

header{
    background-color: #2C3E4F;
    height: 70px;
}
main{
    padding-top: 70px;
}

.ms_bg-color{
    background-color: #23BC9C;
}
.ms_bg-color_top{
    background-color: #3A546C;

}
.ms_bg-color_bottom{
    background-color: #2C3E51;

}
.ms_bg_color_btn{
    background-color: green;
}
#about .container-sm{
    padding: 0px 80px;
}
.ms_item{
    position: relative;
}

.ms_layover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 188, 156, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.ms_layover i{
    color: white;
    font-size: 130px;
}
.ms_item:hover .ms_layover{
    display: flex;
}



